<nav class="navbar sticky-top navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="main">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" style="margin-top: -0.35rem" class="bi bi-house" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
      <span class="h4"> RICEBOOK</span>
    </a>

    <div *ngIf="checkLoggedIn()">
      <div>
        <a class="navbar-brand dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Profile
        </a>
        <ul class="dropdown-menu" style="left: revert; right: 0; top: revert;" aria-labelledby="navbarScrollingDropdown">
          <li><a class="dropdown-item" href="profile">View Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="" (click)="logout()">Logout</a></li>
        </ul>
      </div>

<!--      <a class="navbar-brand d-inline-flex" href="">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">-->
<!--          <path d="M7.5 1v7h1V1h-1z"/>-->
<!--          <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>-->
<!--        </svg>-->
<!--        &nbsp;<span style="margin-top: 0.15rem !important;">Logout</span>-->
<!--      </a>-->

<!--      <a class="navbar-brand d-inline-flex" href="profile">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">-->
<!--          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>-->
<!--          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>-->
<!--        </svg>-->
<!--        &nbsp;<span style="margin-top: 0.15rem !important;">Profile</span>-->
<!--      </a>-->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
